<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
   
  <nav class="w-full flex justify-between px-20 py-10 bg-gray-100 ">
    <h1 class="font-medium text-2xl">management</h1>
    <div class="flex gap-10 text-xl">
       <a  href="/">Home</a>
       <a href="/new">create file</a>

    </div>
  </nav>  
